<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragments :: head('Resume | Gd0ts Website')}"></head>
<body class="bg-light">
    <nav th:replace="~{fragments :: navbar}"></nav>

    <div class="container mt-4" style="max-width: 800px;">
        <h2 class="mb-4 pb-2 border-bottom">Rumen Vasilev</h2>
        
        <div class="card p-4 shadow-sm border-0 mb-4">
            <h4 class="fw-bold">Computer Scientist</h4>
            
            <h6 class="fw-bold mt-4 pb-2 border-bottom">Education</h6>
            <p><strong>University of Surrey | Sep 2025 - Present</strong></p>
            <ul class="text-muted">
            	<li>Operating Systems</li>
                <li>Foundations of Computing I and II</li>
                <li>Software Engineering</li>
                <li>Database Systems</li>
                <li>Data Structures and Algorithms</li>
            </ul>
            
            <h6 class="fw-bold mt-4 pb-2 border-bottom">Professional Experience</h6>
            <p><strong>MyTutor | Computer Science Tutor | May 2026 - Present</strong></p>
			<ul class="text-muted">
            	<li>Preparing pupils for A Levels and GCSEs</li>
                <li>Teaching Computer Science Lessons to pupils from all age groups</li>
            </ul>

            <p><strong>Gabimendes | Data Analyst Intern | June 2024 - July 2024</strong></p>
			<ul class="text-muted">
				<li>Processed, structured and validated financial data from official Portuguese invoicing system</li>
				<li>Analysed and organised invoices to find patterns for efficient processing and insight of data utilising Python and SQL</li>
			</ul>
			
			<p><strong>AE Mosteiro e Cávado | Technical Support Intern | March 2023 - April 2023</strong></p>
			<ul class="text-muted">
				<li>Maintained and repaired hardware equipment</li>
				<li>Maintained and monitored the Local Area Network (LAN) connectivity and configured network devices and hosts</li>
			</ul>
			
          <h6 class="fw-bold mt-4 pb-2 border-bottom">Skills</h6>
          <p><strong>Languages & Frameworks:</strong> Java, Spring Boot, C, C++, C#, JavaScript, HTML5, CSS3, SQL</p>     
     	  <p><strong>Databases:</strong> MySQL, MongoDB</p>
          <p><strong>Networking & Security:</strong> Nmap, Metasploit, Gobuster, Wireshark, Burp Suite</p>
          <p><strong>Scripting & Automation:</strong> Python, PowerShell, Bash, Linux and Windows command-line</p>
          <p><strong>Technologies:</strong> Git, Docker, Thymeleaf, MS Office (Excel, PowerPoint, Word)</p>
          <p><strong>Soft skills:</strong> Teamwork, Time Management, Adaptability, Problem-Solving, Curiosity, Initiative</p>
        
          <h6 class="fw-bold mt-4 pb-2 border-bottom">Volunteering & Leadership</h6>
        </div>
    </div>
</body>
</html>
